*.zip
*.csv
*.pyc
*~
*.tar.gz
*.tar
*.gz
*.npy
*.h5
*.swp
*.mat

data/
bin/
plots/
image-exploration/
roughImages/
sampleImages_small_size/
matlab-exploration/data/
savedModels/
ibmseti-master/
.ipynb_checkpoints/
